.photo-image-container {
  flex-basis: 20%;
}

.btn-redirect {
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px 0px;
  padding: 0px;
  font-weight: bold;
  font-size: 22px;
  color: #2f81ff;
}

.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 10px;
  border-color: transparent;
  background-color: #ecfaff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.05);
  max-width: 740px;
  margin: 30px auto;
  overflow: hidden;
  height: 250px;
}
.photo-image {
  object-fit: cover;
}

.description-container {
  width: 80%;
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  padding-top: 10px;
}

.description-container p {
  color: #71a1a4;
}

.btn-photo {
  background-color: #2f81ff;
  border: none;
  color: white;
  padding: 16px 40px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}

.btn-photo:hover {
  opacity: 0.8;
}
